<!-- Search Form -->
<div>
    <select id="filterLogic" {{on "change" this.updateFilterLogic}}>
      <option value="" selected disabled>Select Logic</option>
      <option value="AND">AND</option>
      <option value="OR" >OR</option>
    </select>

  <select id="searchType" {{on "change" this.updateType}}>
    <option value="" selected disabled>Select option</option>
    <option value="EventID">Event Code</option>
    <option value="SourceName">Source Name</option>
    <option value="Message">Message</option>
    <option value="Severity">Severity</option>
    <option value="UserName">UserName</option>
    <option value="DeviceName">DeviceName</option>
  </select>

  <select id="filterType" {{on "change" this.updateQueryType}} >
    <option value="Contains" selected>contains</option>
    <option value="NotContains">not contains</option>
    <option value="Equals">equals</option>
    <option value="NotEquals">not equals</option>
    <option value="StartsWith">starts with</option>
    <option value="EndsWith">ends with</option>
  </select>

  <input id="searchValue" type="text" placeholder="Enter value" {{on "input" this.updateValue}} />
    <button class="button" type="button" {{on "click" (fn @removeFilter @index)}}>-</button>

  {{!-- <button class="button" type="button" {{on "click" this.searchLogs}}>Search</button> --}}
</div>