<div class="card">
    <h1>Login</h1>
    <input class="text-field" placeholder="Enter Email" type="text" value={{this.username}} {{on "input"
        this.updateUsername}} />
    <input class="text-field" placeholder="Enter Password" type="password" value={{this.password}} {{on "input"
        this.updatePassword}} />
    <p style="color: red;">Already have an account?</p>
    <button class="button" {{on "click" this.login}}>Login</button>
</div>