<h2>System Logs</h2>

<div>
    {{#each this.filters as |filter index|}}
        <FilterForm 
            @type={{filter.type}} 
            @value={{filter.value}} 
            @updateFilterLogic={{this.updateFilterLogic}} 
            @updateType={{this.updateFilterType}} 
            @updateValue={{this.updateFilterValue}} 
            @index={{index}} 
            @removeFilter={{this.removeFilter}} 
        />
        <br>
    {{/each}}
    
    <button class="button" type="button" {{on "click" this.addFilter}}>Add Filter</button>
    <button class="button" type="button" {{on "click" (fn this.searchLogs true)}}>Search Logs</button>
</div>

<!-- Search button to send filters to the backend -->

<table>
    <thead>
        <tr>
            <th>EventID</th>
            <th>SourceName</th>
            <th>Message</th>
            <th>Severity</th>
        </tr>
    </thead>
    <tbody>
        {{#each this.model.logs as |log|}}
        <tr>
            <td>{{log.eventID}}</td>
            <td>{{log.sourceName}}</td>
            <td>{{log.message}}</td>
            <td>{{log.severity}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br>

{{!-- Pagination controls --}}
<div>
    {{!-- Check if model and totalPages are defined --}}
    {{#if this.model}}
    {{#if this.model.totalPages}}

    <button class="button" type="button" {{on "click" this.previousPage}}>Previous</button>

    {{this.page}}

    <button class="button" type="button" {{on "click" this.nextPage}}>Next</button>

    {{/if}}
    {{/if}}
</div>