<h2>System Logs</h2>

<div>
    {{#each this.filters as |filter index|}}
        <FilterForm 
            @type={{filter.type}} 
            @value={{filter.value}} 
            @updateFilterLogic={{this.updateFilterLogic}} 
            @updateType={{this.updateFilterType}} 
            @updateValue={{this.updateFilterValue}} 
            @index={{index}} 
            @removeFilter={{this.removeFilter}} 
        />
        <br>
    {{/each}}
    
    <button class="button" type="button" {{on "click" this.addFilter}}>Add Filter</button>
    <button class="button" type="button" {{on "click" (fn this.searchLogs true)}}>Search Logs</button>
</div>

<br>

<div class="center-screen">
    <div class="left-screen">
        {{#if this.model}}
            <p>No of Records : {{this.model.logs.length}}</p>
            <p>Total Pages : {{this.model.totalPages}}</p>
        {{/if}}
    </div>
    <div class="right-screen">
        {{#if this.model}}
        {{#if this.model.totalPages}}

            <button class="button" type="button" {{on "click" this.previousPage}}>Previous</button>

            <input type="text" value="{{this.page}}" {{on "input" this.updatePageNumber}}/>

            <button class="button" type="button" {{on "click" this.nextPage}}>Next</button>

        {{/if}}
        {{/if}}
    </div>
</div>

<br>

<table>
    <thead>
        <tr>
            <th>EventID <img src="/assets/swap.png" class="swap" alt="Sort EventID" {{on "click" (fn this.setSortColumn 'eventID')}} /></th>
            <th>SourceName <img src="/assets/swap.png" class="swap" alt="Sort SourceName" {{on "click" (fn this.setSortColumn 'sourceName')}} /></th>
            <th>Message <img src="/assets/swap.png" class="swap" alt="Sort Message" {{on "click" (fn this.setSortColumn 'message')}} /></th>
            <th>Severity <img src="/assets/swap.png" class="swap" alt="Sort Severity" {{on "click" (fn this.setSortColumn 'severity')}} /></th>
        </tr>
    </thead>
    <tbody>
        {{#each this.model.logs as |log|}}
        <tr>
            <td>{{log.eventID}}</td>
            <td>{{log.sourceName}}</td>
            <td>{{log.message}}</td>
            <td>{{log.severity}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>