<h2>System Logs</h2>

<table>
    <thead>
        <tr>
            <th>EventID</th>
            <th>SourceName</th>
            <th>Message</th>
            <th>Severity</th>
        </tr>
    </thead>
    <tbody>
        {{#each this.model.logs as |log|}}
        <tr>
            <td>{{log.EventCode}}</td>
            <td>{{log.SourceName}}</td>
            <td>{{log.Message}}</td>
            <td>{{log.Severity}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br>

{{!-- Pagination controls --}}
<div>
    {{!-- Check if model and totalPages are defined --}}
    {{#if this.model}}
    {{#if this.model.totalPages}}

    <button class="button" type="button" {{on "click" this.previousPage}}>Previous</button>

    {{this.page}}

    <button class="button" type="button" {{on "click" this.nextPage}}>Next</button>

    {{/if}}
    {{/if}}
</div>